package ${package.Mapper};

import ${package.Entity}.entity.${Entity};
import ${package.Entity}.vo.${Vo};
import ${superMapperClassPackage};
#if(${mapperAnnotationClass})
    import ${mapperAnnotationClass.name};
#end
import cn.rl520.cloud.common.mybatis.plus.mapper.BaseMapperPlus;

/**
 * ${table.mapperName}接口
 *
 * @author ${author}
 * @date ${date}
 */
#if(${mapperAnnotationClass})
@${mapperAnnotationClass.simpleName}
#end
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${Entity}>
#else
public interface ${table.mapperName} extends BaseMapperPlus<${Entity}, ${Vo}> {

}
#end
